@charset "utf-8";


/* HEADER
********************************************************************/
#header {
    min-width:980px;
    max-width:1350px;
}
    #header .top_menu {
        width:850px;
    }

        #header .top_menu li{
            display:inline;
        }
            #header .top_menu li a{
                padding:15px 0px 15px 10px;
            }
            #header .top_menu li .hover {
                filter:alpha(opacity=0);
            }
/****************************** FIN HEADER **********************************/

#mainContent {
    margin:0 0 0 0;
}
/************************* PORTFOLIO ****************************/
    #mainContent .servicios .portfolio .characteristics_portfolio{
        max-width:750px;
    }
/******************** FIN PORTFOLIO *********************/
				
/************************************* SERVICIOS INDEX ***********************************/
    #mainContent .servicios .column p{
        margin-top:10px;
    }
    #mainContent .servicios .column .li_servicios ul{
        margin-left:30px;
    }
    #mainContent .servicios .column .li_caracteristicas ul{
        margin-left:20px;
    }
/************************************* FIN SERVICIOS INDEX ***********************************/
				
/************** Formulario Contactenos (simple) ******************/
    #mainContent .servicios .right_contact{
        width:250px;
    }
        #mainContent .servicios .right_contact .submit{
            position:absolute;
            display:block;
            margin:260px 25px 0 0;
        }
/************* FIN Formulario Contactenos (simple) ****************/	

#footer {
    min-width:980px;
    max-width:1350px;
}	
    #footer .mydesign_text{
        margin-top:10px;
    }	