@charset "utf-8";
body {
    font-family:Arial, Helvetica, sans-serif;
    background: #666666;
    margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
    padding: 0;
    text-align: center; /* esto centra el contenedor en los navegadores IE 5*. El texto se ajusta posteriormente con el valor predeterminado de alineación a la izquierda en el selector #container */
    color: #ffffff;
}

a {
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
}
    a img {border:none;}
h1{ color:#64B6DA;}
h2{ display:inline; /*float:left;*/}
h3{
    margin-bottom:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#58B7FB;
    font-weight:bold;
}

.left{float:left !important;}
.right{float: right  !important;}
.hidden{display:none  !important;}
.invisible{visibility:hidden  !important;}
.visible{visibility:visible  !important;}
.cursor-hand{cursor:pointer;}

.input{
    background:url(../images/form_1.png) no-repeat left bottom;
    width:175px;
    height:25px;
}
    .input input{
        border:none;
        font-size:12px;
        width:164px;
        height:15px;
        margin:3px 0 0 5px;
    }
	
.textarea{
    background:url(../images/form_2.png) no-repeat left bottom;
    width:171px;
    height:84px;
}
    .textarea textarea{
        border:none;
        width:162px;
        height:78px;
        margin:3px 0 0 4px;
        font-size:12px;
    }

.clearfloat { /* esta clase debe colocarse en un elemento div o break y debe ser el último elemento antes del cierre de un contenedor que incluya completamente a un elemento flotante */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.msgerror{
    float:left;
    clear:left;
    background-color:#388EA3;
    width:155px;
    padding:5px;
    margin:0px 0 0 5px;
    font-size:10px;
    display:none;
}
.hidden-div2,.hidden-div3{display:none;}

/* Sugerencias para diseños elásticos 
1. Dado que el tamaño global de los diseños elásticos se basa en el tamaño de fuente predeterminado del usuario, resultan algo más impredecibles. Si se utilizan correctamente, también son más accesibles para aquellas personas que necesitan tamaños de fuentes más grandes, dado que la longitud de línea mantiene la proporcionalidad.
2. La asignación de tamaño a los divs en este diseño se basa en el 100% del tamaño de fuente en el elemento body. Si reduce el tamaño global del texto empleando font-size: 80% en el elemento body o el #container, recuerde que todo el diseño reducirá su tamaño proporcionalmente. Es posible que le interese aumentar los anchos de los diversos divs para compensar este efecto.
3. Si la asignación de tamaño de fuente se modifica de forma distinta en cada div en lugar de hacerse en el diseño global (es decir: a #sidebar1 se le asigna un 70% de tamaño de fuente y a #mainContent se le asigna un 85% de tamaño de fuente), ello hará que se modifique proporcionalmente el tamaño global de cada uno de los div. Si lo desea, puede realizar el ajuste basándose en la asignación de tamaño de fuente final.
*/
#container {
    background: #0A5083;
    margin: 0 auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
    border: 1px solid #000000;
    text-align: left;
    min-width:950px;
    max-width:1350px;
}

/* HEADER
********************************************************************/
#header { 
    background: url(../images/background_top.jpg) top center repeat-x;
    height:282px;
    min-width:1020px;
    max-width:1350px;
    border-bottom:2px solid #333333;
} 
    #header .top_page {
        background:url(../images/background_button.jpg) top left repeat-x;
        height:42px;
        width:100%;
        line-height:40px;
        text-align:right;
    }
    #header .soporte {
        width:210px;
        height:25px;
        padding-top:15px;
        padding-left:5px;
        text-align:left;
        line-height:1;
        font-size:80%;
    }
        #header .soporte img{margin-top:-20px;}

    #header .top_menu {
        width:750px;
        height:42px;
        line-height:10px;
        text-align:right;
        padding-right:20px;
    }
            #header .top_menu ul{
                float:right;
                text-align:right;
                background:url(../images/line_button.png) top right no-repeat;
                margin-top:0px;
            }
            #header .top_menu li{
                list-style-type:none;
                display:inline-block;
                padding-right:10px;
                margin:0;
                position:relative;
                margin-right:-5px;
            }
                    #header .top_menu li a{
                        background:url(../images/line_button.png) top left no-repeat;
                        text-decoration:none;
                        text-align:right;
                        color:#FFFFFF;
                        font-size:100%;
                        font-weight:bolder;
                        position:relative;
                        padding:15px 10px 15px 0;
                        display:block;
                        width:100%;
                        height:100%;
                        z-index:50;
                    }

                    #header .top_menu li .menu {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index:10;
                        color:#000000;
                    }
                    #header .top_menu li .hover {
                        background:url(../images/background_button_over.jpg) repeat-x 0 0;
                        opacity:0;
                    }
                    #header .top_menu li .current{
                        background:url(../images/background_button_current.jpg) repeat-x 0 0;
                    }

    #header .logo {
        width:50%;
        text-align:center;
        height:65px;
        position:relative;
        margin-top:80px;
    }
    #header .ultimos_trabajos {
        width:50%;
        background:url(../images/recuadro_ultimos_proyectos.png) left no-repeat;
        text-align:center;
        height:206px;
        position:relative;
        margin-top:20px;
        margin-left:-10px;
    }
        #header .ultimos_trabajos .arrow_left{
            float:left;
            position:relative;
            padding-top:90px;
            left:12px;
        }
        #header .ultimos_trabajos .arrow_right{
            float:left;
            left:26px;
            position:relative;
            padding-top:90px;
        }
        #header .ultimos_trabajos #cont_slider{
            float:left;
            position:relative;
            top:32px;
            left:18px;
            width:436px;
            height:140px;
            overflow:hidden;
            /*border:1px solid red;*/
        }
/****************************** FIN HEADER **********************************/

    #mainContent {
        padding:5px 20px;
        background: url(../images/background_middle.jpg) top left repeat-x #0A2C48;
        margin:0 auto;
        min-width:980px;
        max-width:1350px;
    }
            #mainContent .servicios{
                min-width:1000px;
                max-width:1350px;
                text-align:center;
                margin:0 auto;
                /*border:1px #990000 solid;*/
            }
                    /************************* PORTFOLIO ****************************/
                    #mainContent .servicios .portfolio{
                        float:left;
                        margin-bottom:30px;
                        min-width:850px;
                        max-width:1350px;
                        /*border:1px #660000 solid;*/
                    }
                        #mainContent .servicios .portfolio .image_portfolio{
                            float:right;
                            text-align:left;
                            min-width:200px;
                            max-width:457px;
                            height:330px;
                            margin-top:20px;
                        }
                        #mainContent .servicios .portfolio .characteristics_portfolio{
                            float:left;
                            /*min-width:250px;*/
                            max-width:530px;
                            margin-top:30px;
                            /*border:1px #CC0000 solid;*/
                            text-align:left;
                            font-family:Verdana, Arial, Helvetica, sans-serif;
                            font-size:13px;
                            color:#FFFFFF;
                        }
                                #mainContent .servicios .portfolio .characteristics_portfolio h4{
                                        font-size:21px;
                                        font-weight:bold;
                                        color:#60BE55;
                                        margin-top:-4px;
                                }
                                #mainContent .servicios .portfolio .characteristics_portfolio h5{
                                        font-size:16px;
                                        color:#60BE55;
                                }
                                #mainContent .servicios .portfolio .characteristics_portfolio a{
                                        font-size:16px;
                                        font-weight:bold;
                                        color:#60BE55;
                                }
                        /******************** FIN PORTFOLIO *********************/
				
                    /************************** SERVICIOS INDEX ************************/
                    #mainContent .servicios .image_services{
                        float:left;
                        width:58px;
                        height:58px;
                        margin-right:0;
                    }
                    #mainContent .servicios .column{
                        width:29%;
                        /*min-width:280px;*/
                        height:300px;
                        padding:10px 20px;
                        float:left;
                        text-align:left;
                        font-family:Arial, Helvetica, sans-serif;
                        font-size:13px;
                    }
                        #mainContent .servicios .column h1{
                            margin-bottom:30px;
                            margin-top:20px;
                            clear: right;
                            height:30px;
                        }
                        #mainContent .servicios .column .li_servicios ul{
                            float:left;
                            width:140px;
                            margin-left:-30px;
                        }
                        #mainContent .servicios .column .li_servicios li{
                            list-style:url(../images/tilde_celeste.png);
                            color:#72B7DC;
                        }
                        #mainContent .servicios .column .li_caracteristicas ul{
                            float:left;
                            width:100px;
                            margin-left:-20px;
                        }
                        #mainContent .servicios .column .li_caracteristicas li{
                            list-style:url(../images/tilde_verde.png);
                            color:#68BB6D;
                        }
                        #mainContent .servicios .column .price{
                            float:left;
                            clear:left;
                            text-align:left;
                            width:100%;
                            font-family:Arial, Helvetica, sans-serif;
                            font-weight:bold;
                            font-size:13px;
                        }
                        #mainContent .servicios .title_web{
                            float:left;
                            width:70%;
                            height:60px;
                        }
                            #mainContent .servicios .programs{
                                float:right;
                                width:220px;
                                position:relative;
                                /*border:1px solid #CCFF99;*/
                            }
                    /*************************** FIN SERVICIOS INDEX **************************/
					
                    /*************************** DESCRIPCION SERVICIOS ************************/
                    #mainContent .servicios .left_web{
                        margin:0 auto;
                        width:750px;
                        float:left;
                        /*max-width:1200px;*/
                    }
                        #mainContent .servicios .left_web .content_web{
                            float:left;
                            /*min-width:650px;*/
                            /*max-width:1200px;*/
                        }
                        #mainContent .servicios .left_web .content_web .content_top{
                            float:left;
                            width:750px;
                            height:30px;
                            background:url(../images/line_background.png) repeat-x left bottom;
                            font-family:Verdana, Arial, Helvetica, sans-serif;
                            text-align:left;
                            color:#5CC151;
                            font-size:14px;
                            font-weight:bold;
                            padding-top:40px;
                            margin-right:10px;
                        }
                            #mainContent .servicios .left_web .content_web .content_top .button{
                                margin-top:10px;
                                float:right;
                            }

                        #mainContent .servicios .left_web .content_web .content_bottom{
                            float:left;
                            width:750px;
                            /*max-width:900px;*/
                            padding-top:20px;
                            text-align:justify;
                            font-family:Verdana, Arial, Helvetica, sans-serif;
                            font-size:12px;
                            color:#FFFFFF;
                        }
                            #mainContent .servicios .left_web .content_web .content_bottom .image_icon{
                                background:url(../images/icon_soporte.png) no-repeat right bottom;
                                width:100px;
                                height:120px;
                                text-align:center;
                                float:left;
                            }
                                #mainContent .servicios .left_web .content_web .content_bottom .image_icon a{
                                    margin-top:20px;
                                    display:block;
                                    padding-bottom:40px;
                                    outline:none;
                                }
                            #mainContent .servicios .left_web .content_web .content_bottom .cont_slide{
                                float:left;
                                width:600px;
                                padding-left:30px;
                                overflow:hidden;
                                /*border:1px solid red;*/
                            }
                    /**************************** FIN DESCRIPCION SERVICIOS **********************************/
						
                        /************** Formulario Contactenos (simple) ******************/
                        #mainContent .servicios .right_contact{
                            position:relative;
                            float: right;
                            text-align:left;
                            min-width:200px;
                            max-width:300px;
                            padding:20px;
                            font-family:Verdana, Arial, Helvetica, sans-serif;
                            font-size:13px;
                            top:0;
                            overflow:hidden;
                            /*border:1px solid red;*/
                        }
                            #mainContent .servicios .right_contact .container_contact{
                                position:relative;
                                width:100%;
                                /*max-width:500px;*/
                                margin:0 auto;
                            }
                                #mainContent .servicios .right_contact .container_contact span{
                                    position:relative;
                                    float:left;
                                    clear:left;
                                    padding-top:10px;
                                    padding-bottom:2px;
                                }
                                    #mainContent .servicios .right_contact .container_contact .input,
                                    #mainContent .servicios .right_contact .container_contact .textarea{float:left;clear:left;}
                                    #mainContent .servicios .right_contact .submit{
                                        float:left;
                                        display:block;
                                        width:57px;
                                        height:20px;
                                        border:none;
                                        margin-top:10px;
                                        margin-left:54px;
                                    }
                                        #mainContent .servicios .right_contact .formcontact_loading{
                                            position:absolute;
                                            width:200px;
                                            height:300px;
                                            margin-top:10px;
                                            text-align:center;
                                            font-size:12px;
                                            top:0;
                                            left:-225px;
                                        }
			/************************** FIN Formulario Contactenos (simple) ****************************/
				
                        /*************************** Formulario PRESUPUESTO ON-LINE *************************/
                        #mainContent .servicios .container_presupuesto{
                            width:800px;
                            margin:0 auto;
                            font-size:12px;
                        }
                            #mainContent .servicios .container_presupuesto .formularios{
                                width:800px;
                                float:left;
                                padding-bottom:15px;
                            }
                            #mainContent .servicios .container_presupuesto .linea{
                                background:url(../images/background_form.png) bottom left no-repeat;
                            }
                                    #mainContent .servicios .container_presupuesto .formularios .form_left{
                                        width:50%;
                                        float:left;
                                        text-align:left;
                                    }
                                        #mainContent .servicios .container_presupuesto .formularios .form_right{
                                            width:50%;
                                            float:right;
                                            text-align:left;
                                        }
                                        #mainContent .servicios .container_presupuesto .formularios .form_center{
                                            width:700px;
                                            float:left;
                                            text-align:left;
                                            margin:0 auto;
                                        }
                                            #mainContent .servicios .container_presupuesto .formularios .form_center{margin-top:10px;}
                                                #mainContent .servicios .container_presupuesto .formularios .form_center .text_area{
                                                    width:550px;
                                                    height:88px;
                                                    background:url(../images/form_textarea.png) no-repeat top left;
                                                    float:left;
                                                }
                                                    #mainContent .servicios .container_presupuesto .formularios .form_center .text_area textarea{
                                                        border:none;
                                                        width:530px;
                                                        height:80px;
                                                        margin-left:8px;
                                                        margin-top:5px;
                                                    }
                                                #mainContent .servicios .container_presupuesto .formularios .form_center .button_presupuesto{
                                                    width:550px;
                                                    height:70px;
                                                    float:left;
                                                    margin-left:120px;
                                                    text-align:center;
                                                }
                                                    #mainContent .servicios .container_presupuesto .formularios .form_center .button_presupuesto input{
                                                        font-size:11px;
                                                        color:#FFFFFF;
                                                        border:none;
                                                        padding-top:5px;
                                                        background:url(../images/button_presupuesto.png) no-repeat top left;
                                                        width:120px;
                                                        height:21px;
                                                    }
                                                    #mainContent .servicios .container_presupuesto .formularios .form_center .button_presupuesto .send{
                                                        float:left;
                                                        margin-left:80px;
                                                        margin-top:20px;
                                                    }
                                                    #mainContent .servicios .container_presupuesto .formularios .form_center .button_presupuesto .delet{
                                                        float:right;
                                                        margin-right:80px;
                                                        margin-top:20px;
                                                    }
                                        #mainContent .servicios .container_presupuesto .formularios .input{
                                            width:174px;
                                            float:right !important;
                                        }
                                        #mainContent .servicios .container_presupuesto .formularios .row{
                                            float:left;
                                            width:330px;
                                            margin-top:10px;
                                            padding-bottom:10px;
                                        }
                                            #mainContent .servicios .container_presupuesto .formularios .row .box{
                                                width:15px;
                                                float:right;
                                            }
                                        #mainContent .servicios .container_presupuesto .formularios .box2{
                                            width:15px;
                                            float:left;
                                            margin-right:10px;
                                        }
                                        #mainContent .servicios .container_presupuesto .formularios span{
                                            float:left;
                                            padding-top:3px;
                                            padding-right:10px;
                                        }
                                        #mainContent .servicios .container_presupuesto .formularios .t1{
                                            font-weight:bold;
                                        }
                                        #mainContent .servicios .container_presupuesto .formularios .t2{
                                            color:#5CC151;
                                            font-style:italic;
                                            font-size:11px;
                                            clear:left;
                                        }
                        #mainContent .servicios .container_presupuesto .text_empresa {
                            text-align:justify;
                            font-size:13px;
                            clear:left;
                            font-family:Arial, Helvetica, sans-serif;
                            margin-bottom:30px;
                        }
                        #mainContent .servicios .container_presupuesto .t3 {
                            font-weight:bold;
                            color:#5CC151;
                        }
                        #mainContent .servicios .container_presupuesto .t4 {
                            font-style:italic;
                        }
                            #mainContent .servicios .container_presupuesto .text_empresa .image_empresa{
                                width:326px;
                                margin-right:20px;
                            }
                        #mainContent .servicios .container_presupuesto .message{
                            float:left;
                            width:100%;
                            text-align:center;
                            font-size:18px;
                            margin:50px 0 140px 0;
                        }
                        /*************************** FIN Formulario PRESUPUESTO ON-LINE *************************/
				
#footer {
    min-width:1000px;
    max-width:1350px;
    padding: 10px 10px; /* este relleno coincide con la alineación izquierda de los elementos de los divs que aparecen por encima de él. */
    background: url(../images/background_bottom.jpg) top left repeat-x;
    height:165px;
    /*margin-left:-3px;*/
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-size:12px;
}
	
    #footer .container_footer {
        width:980px;
        margin:0 auto;
    }
    #footer .chat_left{
        float:left;
        width:180px;
        height:140px;
        padding:10px 20px;
        margin-right:10px;
    }
    #footer .mydesign_text{
        float:left;
        margin-right:30px;
        margin-top:-10px;
        text-align:left;
    }
        #footer .mydesign_text a{
            font-family:Arial, Helvetica, sans-serif;
            color:#FFFFFF;
            font-size:12px;
        }
            #footer .mydesign_text a img{
                text-align:center;
                padding-left:15px;
                margin-bottom:5px;
            }
        #footer .mydesign_text ul{
            margin-top:0;
            margin-left:-20px;
            float:left;
            height:115px;
        }
        #footer .mydesign_text li{
            list-style-type:none;
            text-align:left;
        }
        #footer .mydesign_text .conteiner_icons{
            float:left;
            clear:left;
        }
    #footer .twitter_right{
        margin-top:10px;
        margin-left:0px;
        float:left;
        background:url(../images/background_twiteer.png) left top no-repeat;
        width:210px;
        height:135px;
        padding:20px 0 0 20px;
        font-size:80%;
    }
    #footer p {
        margin: 0; /* el ajuste en cero de los márgenes del primer elemento del pie evitará que puedan contraerse los márgenes (un espacio entre divs) */
        padding: 10px 0; /* el relleno de este elemento creará espacio, de la misma forma que lo haría el margen, sin el problema de la contracción de márgenes */
    }
	

