@charset "utf-8";
h2{ display:inline; float:left;}
body {
		font-family:Arial, Helvetica, sans-serif;
    	background: #666666;
    	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
    	padding: 0;
    	text-align: center; /* esto centra el contenedor en los navegadores IE 5*. El texto se ajusta posteriormente con el valor predeterminado de alineación a la izquierda en el selector #container */
    	color: #ffffff;
    }
	.left{
		float:left;
	}
	.right{
		float: right;
	}
    .input{
		background:url(../images/form_1.PNG) no-repeat left bottom;
		border:none;
		width:171px;
		height:16px;
		font-size:12px;
	}
	.textarea{
		background:url(../images/form_2.PNG) no-repeat left bottom;
		border:none;
		width:171px;
		height:84px;
		font-size:12px;
	}
    /* Sugerencias para diseños elásticos 
    1. Dado que el tamaño global de los diseños elásticos se basa en el tamaño de fuente predeterminado del usuario, resultan algo más impredecibles. Si se utilizan correctamente, también son más accesibles para aquellas personas que necesitan tamaños de fuentes más grandes, dado que la longitud de línea mantiene la proporcionalidad.
    2. La asignación de tamaño a los divs en este diseño se basa en el 100% del tamaño de fuente en el elemento body. Si reduce el tamaño global del texto empleando font-size: 80% en el elemento body o el #container, recuerde que todo el diseño reducirá su tamaño proporcionalmente. Es posible que le interese aumentar los anchos de los diversos divs para compensar este efecto.
    3. Si la asignación de tamaño de fuente se modifica de forma distinta en cada div en lugar de hacerse en el diseño global (es decir: a #sidebar1 se le asigna un 70% de tamaño de fuente y a #mainContent se le asigna un 85% de tamaño de fuente), ello hará que se modifique proporcionalmente el tamaño global de cada uno de los div. Si lo desea, puede realizar el ajuste basándose en la asignación de tamaño de fuente final.
    */
    #container {
    	background: #0A5083;
    	margin: 0 auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
    	border: 1px solid #000000;
    	text-align: left;
		min-width:950px;
		max-width:1350px;
    }
    #header { 
    	background: url(../images/background_top.jpg) top center repeat-x; 
		height:282px;
		min-width:980px;
		max-width:1350px;
		border-bottom:2px solid #333333;
    } 
		#header .top_page {
			background:url(../images/background_button.jpg) top left repeat-x;
			height:42px;
			width:100%;
			line-height:40px;
			text-align:right;
		}
		#header .soporte {
			width:210px;
			height:25px;
			padding-top:15px;
			text-align:right;
			line-height:1;
			font-size:80%;
		}
		#header .top_menu {
			width:750px;
			height:42px;
			line-height:10px;
			text-align:right;
			padding-right:20px;
		}
			#header .top_menu ul{
				text-align:right;
				background:url(../images/line_button.png) top right no-repeat;
			}
			#header .top_menu li{
				list-style-type:none;
				display:inline;
				text-align:right;
				padding:10px 10px;
				background:url(../images/line_button.png) top left no-repeat;
			}
				#header .top_menu li a{
					text-decoration:none;
					color:#FFFFFF;
					font-size:100%;
				}
		#header .logo {
			width:50%;
			text-align:center;
			height:65px;
			position:relative;
			margin-top:80px;
		}
		#header .ultimos_trabajos {
			width:50%;
			background:url(../images/recuadro_ultimos_proyectos.png) left no-repeat;
			text-align:center;
			height:206px;
			position:relative;
			margin-top:20px;
		}

	
    #mainContent {
    	padding: 5px 20px;
    	background: url(../images/background_middle.jpg) top left repeat-x #0A2C48;
		margin:0 0 0 0;
		min-width:980px;
		max-width:1350px;
    }
		#mainContent .servicios{
			min-width:980px;
			max-width:1350px;
			text-align:center;
			margin:0 auto 0 -10px;
			/*border:1px #990000 solid;*/
		}
			/************************* PORTFOLIO ****************************/
				#mainContent .servicios .portfolio{
				float:left;
				margin-bottom:30px;
				min-width:850px;
				max-width:1350px;
				/*border:1px #660000 solid;*/
				}
					#mainContent .servicios .portfolio .image_portfolio{
					float:right;
					text-align:left;
					min-width:200px;
					max-width:457px;
					height:330px;
					margin-top:20px;
					}
					#mainContent .servicios .portfolio .characteristics_portfolio{
					float:left;
					min-width:250px;
					max-width:750px;
					margin-top:30px;
					/*border:1px #CC0000 solid;*/
					text-align:left;
					font-family:Verdana, Arial, Helvetica, sans-serif;
					font-size:13px;
					color:#FFFFFF;
					}
						#mainContent .servicios .portfolio .characteristics_portfolio h4{
						font-size:21px;
						font-weight:bold;
						color:#60BE55;
						margin-top:-4px;
						}
						#mainContent .servicios .portfolio .characteristics_portfolio h5{
						font-size:16px;
						color:#60BE55;
						}
						#mainContent .servicios .portfolio .characteristics_portfolio a{
						font-size:16px;
						font-weight:bold;
						color:#60BE55;
						}
			/******************** FIN PORTFOLIO *********************/
				
				
				#mainContent .servicios .column{
				width:29%;
				/*min-width:280px;*/
				height:300px;
				padding:10px 20px;
				float:left;
				text-align:left;
				font-family:Arial, Helvetica, sans-serif;
				font-size:13px;
				}
				#mainContent .servicios .image_services{
				float:left;
				width:58px;
				height:58px;
				margin-right:0;
				}
				#mainContent .servicios .column .li_servicios ul{
				float:left;
				width:140px;
				margin-left:-30px;
				}
				#mainContent .servicios .column .li_caracteristicas ul{
					float:left;
					width:100px;
					margin-left:-20px;
				}
				#mainContent .servicios .column .li_servicios li{
					list-style:url(../images/tilde_celeste.png);
					color:#72B7DC;
				}
				#mainContent .servicios .column .li_caracteristicas li{
					list-style:url(../images/tilde_verde.png);
					color:#68BB6D;
				}
				#mainContent .servicios .column .price{
				float:left;
				text-align:center;
				width:200px;
				font-family:Arial, Helvetica, sans-serif;
				font-weight:bold;
				font-size:13px;
				
				}
				#mainContent .servicios .title_web{
				float:left;
				width:100%;
				height:60px;
				}
					#mainContent .servicios .title_web .program{
					float:right;
					}
				#mainContent .servicios .left_web{
				float:left;
				width:800px;
				}
				#mainContent .servicios .left_web .content_web{
				float:left;
				width:100%;
				}
				#mainContent .servicios .left_web .content_web .content_top{
				float:left;
				min-width:780px;
				height:30px;
				background:url(../images/line_background.png) repeat-x left bottom;
				font-family:Verdana, Arial, Helvetica, sans-serif;
				text-align:left;
				color:#5CC151;
				font-size:14px;
				font-weight:bold;
				padding-top:40px;
				margin-right:10px;
				}
					#mainContent .servicios .left_web .content_web .content_top .button{
					margin-top:10px;
					float:right;
					}

				#mainContent .servicios .left_web .content_web .content_bottom{
				float:left;
				min-width:780px;
				padding-top:20px;
				text-align:justify;
				font-family:Verdana, Arial, Helvetica, sans-serif;
				font-size:12px;
				color:#FFFFFF;
				padding-right:80px;
				}
					#mainContent .servicios .left_web .content_web .content_bottom .img{
					float:left;
					}
					
				/************** Formulario Contactenos (simple) ******************/
				#mainContent .servicios .right_contact{
				float:left;
				width:200px;
				margin-top:30px;
				margin-left:50px;
				text-align:left;
				font-family:Verdana, Arial, Helvetica, sans-serif;
				font-size:13px;
				}
					#mainContent .servicios .right_contact span{
					position:relative;
					float:left;
					clear:left;
					padding-top:10px;
					padding-bottom:2px;
					}
					#mainContent .servicios .right_contact input,
					#mainContent .servicios .right_contact textarea{
					float:left;
					clear:left;
					}
					/*#mainContent .servicios .right_contact .container_submit{
					float:left;
					width:250px;
					text-align:center;
					}*/
					#mainContent .servicios .right_contact .submit{
					background:url(../images/button_enviar.png) no-repeat left bottom;
					width:57px;
					height:20px;
					border:none;
					margin-top:10px;
					margin-left:54px;
					}

				/*********************************************************************/	

	.clearfloat { /* esta clase debe colocarse en un elemento div o break y debe ser el último elemento antes del cierre de un contenedor que incluya completamente a un elemento flotante */
    	clear:both;
        height:0;
        font-size: 1px;
        line-height: 0px;
    }
    #footer {
		min-width:980px;
		max-width:1350px;
    	padding: 10px 10px; /* este relleno coincide con la alineación izquierda de los elementos de los divs que aparecen por encima de él. */
    	background: url(../images/background_bottom.jpg) top left repeat-x;
		height:165px;
		margin-left:-3px;
    } 
		#footer .chat_left{
		float:left;
		width:180px;
		height:140px;
		padding:10px 20px;
		margin-right:10px;
		}
		#footer .mydesign_text{
		float:left;
		margin-right:30px;
		margin-top:-10px;
		text-align:left;
		}
		#footer .mydesign_text a{
		font-family:Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:12px;
		}
		#footer .mydesign_text a img{
		text-align:center;
		padding-left:15px;
		margin-bottom:5px;
		}
		#footer .mydesign_text ul{
		margin-top:0;
		margin-left:-20px;
		float:left;
		height:115px;
		}
		#footer .mydesign_text li{
		list-style-type:none;
		text-align:left;
		}
		#footer .mydesign_text .conteiner_icons{
		float:left;
		clear:left;
		}
		#footer .twitter_right{
		margin-top:10px;
		margin-left:0px;
		float:left;
		background:url(../images/background_twiteer.png) left top no-repeat;
		width:227px;
		height:150px;
		}
		

		
		
    #footer p {
    	margin: 0; /* el ajuste en cero de los márgenes del primer elemento del pie evitará que puedan contraerse los márgenes (un espacio entre divs) */
    	padding: 10px 0; /* el relleno de este elemento creará espacio, de la misma forma que lo haría el margen, sin el problema de la contracción de márgenes */
    }
	
	a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	}
	h3{
	margin-bottom:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#58B7FB;
	font-weight:bold;
	}